{{- /* Use merged fragments from .fragments (includes module fragments) */ -}}
{{- $frags := .fragments -}}
{{- range $name, $contexts := $frags -}}
{{-   $enabled := false -}}
{{-   range $contexts -}}
{{-     if or (eq . $.role) (and (eq . "gui") $.gui) -}}
{{-       $enabled = true -}}
{{-     end -}}
{{-   end -}}
{{-   if $enabled }}
[ -r "${DF_DIR}/fragments/{{ $name }}" ] && . "${DF_DIR}/fragments/{{ $name }}"
{{-   end -}}
{{- end -}}
