[env]
NODE_ENV = 'production'
TS_SERVE_CONFIG_DIR="${HOME}/tailscale/serve"
PROJECT_ROOT = "${HOME}/.dotfiles"
DATA_DIR = "${HOME}/.dotfiles/data"

[settings]
experimental = true


[bootstrap.packages]
"apt:jq" = "latest"
"apt:curl" = "latest"
"apt:build-essential" = "latest"

shfmt = "latest"
task = "latest"
"apt:shellcheck" = "latest"


[tools]
"github:cli/cli" = "latest"            # GitHub CLI
"github:BurntSushi/ripgrep" = "latest" # ripgrep binary
node = "22"                     
node = "lts"
go = "latest"
ripgrep = "latest"
fzf = "latest"
bat = "latest"
age = 'latest'


[settings]
experimental = true

